<% unless user.id == current_user.id %>
  <% if (current_user.following? user) && (user.following? current_user) %>
    <% if isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= roomId %>" class="btn btn-primary btn-lg">チャットへ</a></p>
    <% else %>
      <%= render 'users/dmform', user: user, room: room, entry: entry %>
    <% end %>
  <% end %>
<% end %>